<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width">


      <title>Admin System </title>

      {% load static %}
      {% comment %} {% load pwa %}
      {% progressive_web_app_meta %} {% endcomment %}
      {% comment %} {% load crispy_forms_tags %} {% endcomment %}
      
      <script src="{% static 'superuser/js/script.js' %}"></script>
      <script src="{% static 'superuser/js/side.js' %}"></script>
      <link rel="icon" href="{% static 'login/media/aksol.png' %}" type="image/jpg" />

      <link rel="stylesheet" href="{% static 'superuser/css/style.css' %}" media="all">
      <link rel="stylesheet" href="{% static 'superuser/css/styles.css' %}" media="all">
      <link rel="stylesheet" href="{% static 'superuser/css/side.css' %}" media="all">
      <link rel="stylesheet" href="{% static 'superuser/css/tabs.css' %}" media="all">

      {% comment %} {% block extras %}
      {% endblock %} {% endcomment %}

      {% comment %} <link rel="stylesheet" href="{% static 'superuser/css/index.css' %}" media="all"> {% endcomment %}

      {% comment %} <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
      <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script> {% endcomment %}


      <link href="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/css/tom-select.css" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/js/tom-select.complete.min.js"></script>

      {% comment %} https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css {% endcomment %}
      <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css " />

      
      {% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" />
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" /> {% endcomment %}

      {% block imports %}
        
      {% endblock %}

      <script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> 
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


      <style>
        {% block style %}
        
        {% endblock %}

        #loader {
          position: absolute;
          left: 50%;
          top: 50%;
          z-index: 10;
          width: 150px;
          height: 150px;
          margin: -76px 0 0 -76px;
          border: 16px solid #f3f3f3;
          border-radius: 50%;
          border-top: 16px solid #3498db;
          display:none;
          
          -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
        }
        
        @-webkit-keyframes spin {
          0% { -webkit-transform: rotate(0deg); }
          100% { -webkit-transform: rotate(360deg); }
        }
        
        @keyframes spin {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
        }
        
        /* Add animation to "page content" */
        .animate-bottom {
          position: relative;
          -webkit-animation-name: animatebottom;
          -webkit-animation-duration: 1s;
          animation-name: animatebottom;
          animation-duration: 1s
        }
        
        @-webkit-keyframes animatebottom {
          from { bottom:-100px; opacity:0 } 
          to { bottom:0px; opacity:1 }
        }
        
        @keyframes animatebottom { 
          from{ bottom:-100px; opacity:0 } 
          to{ bottom:0; opacity:1 }
        }
        
          
      
            p {
              font-size: 16px;
              line-height: 26px;
              letter-spacing: 0.5px;
              color: #484848;
          }
           
          /* Popup Open button */ 
          .open-button{
              color:#FFF;
              background:#0066CC;
              padding:10px;
              text-decoration:none;
              border:1px solid #0157ad;
              border-radius:3px;
          }
           
          .open-button:hover{
              background:#01478e;
          }
           
          .popup {
              position:fixed;
              z-index:10;
              top:0px;
              left:0px;
              background:rgba(0,0,0,0.75);
              width:100%;
              height:100%;
              display:none;
          }
           
          /* Popup inner div */
          .popup-content {
              width: 700px;
              margin: 0 auto;
              box-sizing: border-box;
              padding: 40px;
              margin-top: 100px;
              box-shadow: 0px 2px 6px rgba(0,0,0,1);
              border-radius: 3px;
              background: #fff;
              position: relative;
          }
           
          /* Popup close button */
          .close-button {
              width: 25px;
              height: 25px;
              position: absolute;
              top: -10px;
              right: -10px;
              border-radius: 20px;
              background: rgba(0,0,0,0.8);
              font-size: 20px;
              text-align: center;
              color: #fff;
              text-decoration:none;
          }
           
          .close-button:hover {
              background: rgba(0,0,0,1);
          }
           
          @media screen and (max-width: 720px) {
          .popup-content {
              width:90%;
              } 
          }
         
      
      </style>
        
    </head>
   
    <body >


      <div class="d-flex" id="wrapper">
        
        {% comment %} <!-- Sidebar--> {% endcomment %}
        <div class="border-end" id="sidebar-wrapper">
            <div class="sidebar-heading border-bottom text-center"><a href="{% url 'client:index' %}">
              {% comment %} <span class="material-symbols-outlined">paid</span><p>Fee Management System</p> {% endcomment %}
              <img src="{% static 'superuser/media/aks.jpg' %}" alt="logo" />
            </a>
          </div>
            <div class="text-center mt-3 mb-3">
              {{ date }}<br/>
              {{ time }}
            </div>
            <hr/>
            <div class="list-group list-group-flush ">
                <a class="list-group-item list-group-item-action" href="{% url 'client:index' %}"><span class="material-symbols-outlined">speed</span><p>Dashboard</p></a>
                <a class="list-group-item list-group-item-action" href="{% url 'client:viewClients' %}"><span class="material-symbols-outlined">view_kanban</span><p>Clients</p></a>
                <a class="list-group-item list-group-item-action" href="{% url 'client:viewModuleFees' %}"><span class="material-symbols-outlined">manage_accounts</span><p>Module Fees</p></a> 
                <a class="list-group-item list-group-item-action" href="{% url 'client:viewActivation' %}"><span class="material-symbols-outlined">list_alt</span><p>Activation Fees</p></a>
                
                <a class="list-group-item list-group-item-action" href="{% url 'client:subscriptionHistory' %}"><span class="material-symbols-outlined">list_alt</span><p>Subscription History</p></a>
                <a class="list-group-item list-group-item-action" href="{% url 'client:viewCommissions' %}"><span class="material-symbols-outlined">view_kanban</span><p>Commissions</p></a>

                {% comment %}<a class="list-group-item list-group-item-action" href="{% url 'superuser:viewFeeDescription' %}"><span class="material-symbols-outlined">description</span><p>Fee Descriptions</p></a>
                {% comment %} <a class="list-group-item list-group-item-action" href="{% url 'superuser:viewCurrency' %}"><span class="material-symbols-outlined">payments</span><p>Currencies</p></a> {% endcomment %}
                {% comment %} <a class="list-group-item list-group-item-action" href="{% url 'superuser:viewModuleFees' %}"><span class="material-symbols-outlined">manage_accounts</span><p>Module Fees</p></a>  {% endcomment %}





                {% comment %} <a class="list-group-item list-group-item-action" href="{% url 'client:accountSubscription' client_id=client_id %}"><span class="material-symbols-outlined">receipt</span><p>Account Subscription</p></a> {% endcomment %}






                {% comment %} <a class="list-group-item list-group-item-action" href="{% url 'superuser:specialSubscription' %}"><span class="material-symbols-outlined">receipt</span><p>Special Subscription</p></a> {% endcomment %}
                {% comment %} <a class="list-group-item list-group-item-action" href="{% url 'superuser:specialSubscriptionHistory' %}"><span class="material-symbols-outlined">receipt_long</span><p>Special Sub. History</p></a> {% endcomment %}
                {% comment %} <a class="list-group-item list-group-item-action" href="{% url 'superuser:viewPaymentDuration' %}"><span class="material-symbols-outlined">view_timeline</span><p>Assigned Fees</p></a>  {% endcomment %} 
                {% comment %} <a class="list-group-item list-group-item-action" href="{% url 'superuser:subscriptionHistory' %}"><span class="material-symbols-outlined">receipt_long</span><p>Subscription History</p></a> {% endcomment %}
                {% comment %} <a class="list-group-item list-group-item-action" href="{% url 'superuser:send_sms' %}"><span class="material-symbols-outlined">send</span><p>Send Message</p></a> {% endcomment %}

                {% comment %} <a class="list-group-item list-group-item-action" href="#"><span class="material-symbols-outlined">card_membership</span><p>Certification</p></a>
                {% if unlimited %}
                <a class="list-group-item list-group-item-action" href="{% url 'superuser:viewMembers' %}"><span class="material-symbols-outlined">group</span><p>Members</p></a>
                <a class="list-group-item list-group-item-action" href="{% url 'superuser:viewSubscribers' %}"><span class="material-symbols-outlined">group</span><p>Subscribers</p></a>
                <a class="list-group-item list-group-item-action" href="{% url 'superuser:viewDonations' %}"><span class="material-symbols-outlined">loyalty</span><p>Member Donations</p></a>
                <a class="list-group-item list-group-item-action" href="{% url 'superuser:viewPublicDonations' %}"><span class="material-symbols-outlined">volunteer_activism</span><p>Public Donations</p></a>
                <a class="list-group-item list-group-item-action" href="https://www.youtube.com/playlist?list=PL94Wg7vEQie4EojeY5BGDkR2I0Zyy9Ufa" target="_blank"><span class="material-symbols-outlined">smart_display</span><p>Video Tutorials</p></a>
                <a class="list-group-item list-group-item-action" href="{% url 'superuser:viewActivityLog' %}"><span class="material-symbols-outlined">edit</span><p>Activity Log</p></a>
                {% endif %} {% endcomment %}
            </div>
        </div>


        {% comment %} <!-- Page content wrapper--> {% endcomment %}
        <div id="page-content-wrapper">
            {% comment %} <!-- Top navigation--> {% endcomment %}
            <nav class="navbar navbar-expand-lg navbar-light bg-dark border-bottom">
                <div class="container-fluid">
                    <button class="btn btn-sm" id="sidebarToggle" style="background-color: #f7941d"><span class="material-symbols-outlined">menu</span></button>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

                    <div class="d-flex flex-column ml-3 mt-3 mb-2 text-light demo" id="demo" style="text-align: center;width:100%;">
                         <h4>AGENT ACCOUNT</h4>
                         <h6>Branch: {{ branch }}</h6>
                         
                    </div>
                    
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                          {% comment %} <li class="nav-item active"><a class="nav-link" href="{% url 'superuser:viewDonations' %}"><button class="btn btn-sm"  style="background-color: #fb8c00; color: #000">Donations</button></a></li> {% endcomment %}

                            {% comment %} <li class="nav-item active"><a class="nav-link" href="{% url 'superuser:send_sms' %}"><button class="btn btn-sm"  style="background-color: #006c40; color: #fff">Send SMS</button></a></li> {% endcomment %}
                            {% comment %} <li class="nav-item active"><a class="nav-link" href="#!">Home</a></li> {% endcomment %}
                            {% comment %} <li class="nav-item"><a class="nav-link" href="#!">Link</a></li> {% endcomment %}

                            {% comment %} <div class="dropdown">
                              <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="material-symbols-outlined">account_circle</span>
                              </button>
                              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <div class="dropdown-divider"></div> 

                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                              </ul>
                            </div> {% endcomment %}

                            <li class="nav-item dropdown">
                              
                              <div class="dropdown" >
                                <button class="btn btn-light btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" >
                                  <span class="material-symbols-outlined">account_circle</span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                  <li><a class="dropdown-item" href="{% url 'client:viewProfile'%}">Profile</a></li>
                                  <li><a class="dropdown-item" href="{% url 'client:resetPassword'%}">Reset Password</a></li>
                                  <div class="dropdown-divider"></div> 
  
                                  <li><a class="dropdown-item" href="{% url 'client:logout' id=session_id %}" onclick="memberOut()">Log Out</a></li>
                                </ul>
                              </div>


                                {% comment %} <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="material-symbols-outlined">account_circle</span></a>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{% url 'superuser:viewProfile' %}">Profile</a>
                                    <div class="dropdown-divider"></div> 

                                    <a class="dropdown-item" href="{% url 'superuser:logout' %}" onclick="memberOut()">Log Out</a>
                                   
                                </div> {% endcomment %}
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>


            {% comment %} <!-- Page content--> {% endcomment %}
            <div class="container-fluid">

                {% block content %}

                {% endblock %}
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>

            </div>
 
        </div>

    </div>

 



      
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script> {% endcomment %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>




    <script>
      {% if messages %}

      {% for msg in messages %}
        swal('{{ msg }}');

      {% endfor %}


    {% endif %}
    </script>

<script>


  



  $(document).ready(function(){
    $('#delete_button').click(function(){
      var id = [];
      var url = $("#delete_button").attr("data-delete-url");
      var csrf = $('input[name=csrfmiddlewaretoken]').val()

      $(':checkbox:checked').each(function(i){
        id[i]=$(this).val()
      })

      if(id.length == 0){
        alert("Please select item to delete")
      }
      else{
        if(confirm("Are you sure you want to delete this item?")){

          $.ajax({
            url: url,
            method: "POST",
            data: {
              id,
              csrfmiddlewaretoken: csrf
            },
            success: function(response){
              for(var i=0; i<id.length; i++){
                $('tr#'+id[i]+'').css('background-color', '#ccc');
                $('tr#'+id[i]+'').fadeOut('slow');
              }
            } 
          })   
    }

  }
  })
})



{% comment %} Delete fee type {% endcomment %}
$(document).ready(function(){
   $('.link-delete').on('click', function(e) {
    e.preventDefault()
    
    var $this = $(this)
    var id = $this.attr("id")
    var csrf = $('input[name=csrfmiddlewaretoken]').val()


    if(confirm("Are you sure you want to delete this item?")){
      $.ajax({
        url: $this.attr("href"),
        method: "POST",
        data: {
          id,
          csrfmiddlewaretoken: csrf
        },
        success: function(resp){
          for(var i=0; i<100; i++){
            $('tr#'+id+'').css('background-color', '#ccc');
            $('tr#'+id+'').fadeOut('slow');
          }          
        },
      });
    }
    return false;
   }) 
})


$(document).ready(function(){
  $('.size-delete').on('click', function(e) {
   e.preventDefault()
   
   var $this = $(this)
   var id = $this.attr("id")
   var csrf = $('input[name=csrfmiddlewaretoken]').val()


   if(confirm("Are you sure you want to delete this item?")){
     $.ajax({
       url: $this.attr("href"),
       method: "POST",
       data: {
         id,
         csrfmiddlewaretoken: csrf
       },
       success: function(resp){
         for(var i=0; i<100; i++){
           $('tr#'+id+'').css('background-color', '#ccc');
           $('tr#'+id+'').fadeOut('slow');
         }          
       },
     });
   }
   return false;
  }) 
})



$(document).ready(function () {
  
  $('#client_history').DataTable({
    pagingType: 'full_numbers',
    pageLength: 100,
  });

  $('#all_clients').DataTable({
    pagingType: 'full_numbers',
    pageLength: 100,
  });

  $('#module_fees').DataTable({
    pagingType: 'full_numbers',
    pageLength: 100,
  });

});







{% comment %} Delete fee type {% endcomment %}
$(document).ready(function(){
  $('.unassign').on('click', function(e) {
   e.preventDefault()
   
   var $this = $(this)
   var id = $this.attr("id")
   var csrf = $('input[name=csrfmiddlewaretoken]').val()


   if(confirm("Are you sure you want unassign member?")){
     $.ajax({
       url: $this.attr("href"),
       method: "POST",
       data: {
         id,
         csrfmiddlewaretoken: csrf
       },
       success: function(resp){
         for(var i=0; i<100; i++){
           $('tr#'+id+'').css('background-color', '#ccc');
           $('tr#'+id+'').fadeOut('slow');
         }          
       },
     });
   }
   return false;
  }) 
})




$(document).ready(function(){
  $('.des-delete').on('click', function(e) {
   e.preventDefault()
   
   var $this = $(this)
   var id = $this.attr("id")
   var csrf = $('input[name=csrfmiddlewaretoken]').val()

   if(confirm("Are you sure you want to delete this item?")){
     $.ajax({
       url: $this.attr("href"),
       method: "POST",
       data: {
         id,
         csrfmiddlewaretoken: csrf
       },
       success: function(resp){
         for(var i=0; i<100; i++){
           $('tr#'+id+'').css('background-color', '#ccc');
           $('tr#'+id+'').fadeOut('slow');
         }          
       },
     });
   }
   return false;
  }) 
})



$(document).ready(function(){
  $('.cur-delete').on('click', function(e) {
   e.preventDefault()
   
   var $this = $(this)
   var id = $this.attr("id")
   var csrf = $('input[name=csrfmiddlewaretoken]').val()

   if(confirm("Are you sure you want to delete this item?")){
     $.ajax({
       url: $this.attr("href"),
       method: "POST",
       data: {
         id,
         csrfmiddlewaretoken: csrf
       },
       success: function(resp){
         for(var i=0; i<100; i++){
           $('tr#'+id+'').css('background-color', '#ccc');
           $('tr#'+id+'').fadeOut('slow');
         }          
       },
     });
   }
   return false;
  }) 
})


{% comment %} Delete Fee Item{% endcomment %}
$(document).ready(function(){
  $('.item-delete').on('click', function(e) {
   e.preventDefault()
   
   var $this = $(this)
   var id = $this.attr("id")
   var csrf = $('input[name=csrfmiddlewaretoken]').val()

   if(confirm("Are you sure you want to delete this item?")){
     $.ajax({
       url: $this.attr("href"),
       method: "POST",
       data: {
         id,
         csrfmiddlewaretoken: csrf
       },
       success: function(resp){
         for(var i=0; i<100; i++){
           $('tr#'+id+'').css('background-color', '#ccc');
           $('tr#'+id+'').fadeOut('slow');
         }          
       },
     });
   }
   return false;
  }) 
})




$(document).ready(function(){
  $('.mod-delete').on('click', function(e) {
  e.preventDefault()
  
  var $this = $(this)
  var id = $this.attr("id")
  var csrf = $('input[name=csrfmiddlewaretoken]').val()

  if(confirm("Are you sure you want to delete this item?")){
    $.ajax({
      url: $this.attr("href"),
      method: "POST",
      data: {
        id,
        csrfmiddlewaretoken: csrf
      },
      success: function(resp){
        for(var i=0; i<100; i++){
          $('tr#'+id+'').css('background-color', '#ccc');
          $('tr#'+id+'').fadeOut('slow');
        }          
      },
    });
  }
  return false;
  }) 
})




$(document).ready(function(){
  $('.spec-delete').on('click', function(e) {
  e.preventDefault()
  
  var $this = $(this)
  var id = $this.attr("id")
  var csrf = $('input[name=csrfmiddlewaretoken]').val()

  if(confirm("Are you sure you want to delete this item?")){
    $.ajax({
      url: $this.attr("href"),
      method: "POST",
      data: {
        id,
        csrfmiddlewaretoken: csrf
      },
      success: function(resp){
        for(var i=0; i<100; i++){
          $('tr#'+id+'').css('background-color', '#ccc');
          $('tr#'+id+'').fadeOut('slow');
        }          
      },
    });
  }
  return false;
  }) 
})




{% comment %} Delete Receipt Details{% endcomment %}
$(document).ready(function(){
  $('.detail-delete').on('click', function(e) {
  e.preventDefault()
  
  var $this = $(this)
  var id = $this.attr("id")
  var csrf = $('input[name=csrfmiddlewaretoken]').val()

  if(confirm("Are you sure you want to delete this item?")){
    $.ajax({
      url: $this.attr("href"),
      method: "POST",
      data: {
        id,
        csrfmiddlewaretoken: csrf
      },
      success: function(resp){
        for(var i=0; i<100; i++){
          $('tr#'+id+'').css('background-color', '#ccc');
          $('tr#'+id+'').fadeOut('slow');
        }          
      },
    });
  }
  return false;
  }) 
})







$(document).ready(function(){
  $('#duration').on('input', function(e) {
   
   var url = $("#paymentForm").attr("data-modula-url");
   var size = $('#modula').val();
   var duration = $(this).val();

   $.ajax({
     url: url,
     data: {
       'size': size,
       'duration': duration,

     },
     success: function (data) {
      // alert(data)
      $("#skit").html(data);
     }
   });

  }) 
})




{% comment %} {% endcomment %}





  $(document).ready(function(){
    $('#delete_assigned').click(function(){
      var id = [];
      var url = $("#delete_assigned").attr("data-remove-url");
      var csrf = $('input[name=csrfmiddlewaretoken]').val()
      $(':checkbox:checked').each(function(i){
        id[i]=$(this).val()
      })

      if(id.length == 0){
        alert("Please select item to delete")
      }
      else{
        if(confirm("Are you sure you want to delete this item?")){

          $.ajax({
            url: url,
            method: "POST",
            data: {
              id,
              csrfmiddlewaretoken: csrf
            },
            success: function(response){
              for(var i=0; i<id.length; i++){
                $('tr#'+id[i]+'').css('background-color', '#ccc');
                $('tr#'+id[i]+'').fadeOut('slow');
              }
            } 
          })   
    }
  }
  })
})




$(document).ready(function(){
  $('.foo').change(function(){
    var id = [];
    var url = $("#delete_invoice").attr("data-pop-url");
    var csrf = $('input[name=csrfmiddlewaretoken]').val()
    $(':checkbox:checked').each(function(i){
      id[i]=$(this).val()
    })

    

})
})




$(document).ready(function(){
  $("#fee_type_id").change(function () {
    var url = $("#myFormID").attr("data-items-url");
    var fee_type = $(this).val();

    $.ajax({
      url: url,
      data: {
        'fee_type': fee_type,
      },
      success: function (data) {
        $("#fee_items").html(data);
      }
    });

  });
})


$(document).ready(function(){
  $("#user_member").change(function () {
    var url = $("#makePaymentForm").attr("data-fee-url");
    var member = $(this).val();

    $.ajax({
      url: url,
      data: {
        'member': member,
      },
      success: function (data) {
        $("#fee_type").html(data);
      }
    });

  });
})


$(document).ready(function(){
  $("#fee_type").change(function () {
    var url = $("#makePaymentForm").attr("data-balance-url");
    var member = $("#user_member").val();
    var fee_type = $(this).val();

    $.ajax({
      url: url,
      data: {
        'fee_type': fee_type,
        'member': member,
      },
      success: function (data) {
        $("#user_type").html(data);
      }
    });

  });
})



$(document).ready(function(){
  $("#fee_type").change(function () {
    var url = $("#assignPaymentForm").attr("data-invoice-url");
    var branch = $("#branch").val();
    var member_category = $("#member_category").val();
    var group = $("#group").val();
    var subgroup = $("#subgroup").val();

    var fee_type = $(this).val();

    $.ajax({
      url: url,
      data: {
        'branch': branch,
        'member_category': member_category,
        'group': group,
        'subgroup': subgroup,
        'fee_type': fee_type,
      },
      success: function (data) {
         // alert(data)
         $("#total").val(data);
      }
    });

});

})





$(document).ready(function(){
  $("#numver").change(function () {
    var url = $("#paymentForm").attr("data-amount-url");
    var id = $("#paymentForm").attr("data-id");
    var range = $('input[name="install_range"]:checked').val();
  //  var range = $(".range").val();
  
    var period = $(this).val();

    $.ajax({
      url: url,
      data: {
        'id': id,
        'range': range,
        'period': period,
      },
      success: function (data) {
         // alert(data)
         $("#total_amount_due").val(data);
      }
    });

});

})



$(document).ready(function(){
  $("#payment_status").change(function () {
    var url = $("#paymentForm").attr("data-credit-url");
    var member = $("#member").val();
    var paid = $("#paid")
    var total_amount_due = $("#total_amount_due")

    $.ajax({
      url: url,
      data: {
        'member': member,

      },
      success: function (data) {
         // alert(data)
         $("#balance").val(data);

         $("#paid").val(parseInt($("#total_amount_due").val()) - parseInt(data))
         if(parseInt($("#paid").val()) < 0){
          $("#paid").val(0)
          }
      }
    });

});

})



$(document).ready(function(){
  $("#module").change(function () {
    var url = $("#paymentForm").attr("data-items-url");
    var mode = $("#module").val();


    $.ajax({
      url: url,
      data: {
        'mode': mode,
      },

      success: function (data) {
       
         $("#test").html(data);
         
      }
    });

});

})










$(document).ready(function(){
  $('#sub_duration').change(function(){

    var id = [];
    var url = $("#paymentForm").attr("data-amount-url");
    var csrf = $('input[name=csrfmiddlewaretoken]').val()
    var size = $('#modula').val()
    var duration = $('#sub_duration').val()
    var dur_type = $('#dur_type').val()

    $(':checkbox:checked').each(function(i){
      id[i]=$(this).val()
    })

   // alert(id)


    $.ajax({
      url: url,
      method: "POST",
      data: {
        id,
        size,
        duration,
        dur_type,
        csrfmiddlewaretoken: csrf
      },
      success: function(data){

        $("#skit").html(data);

      } 
    })   

})
})










$(document).ready(function(){
  $('#set_duration').change(function(){

    var id = [];
    var url = $("#paymentForm").attr("data-amount-url");
    var csrf = $('input[name=csrfmiddlewaretoken]').val()
    var size = $('#modula').val()
    var duration = $('#set_duration').val()
    var dur_type = $('#dur_type').val()

    

    $(':checkbox:checked').each(function(i){
      id[i]=$(this).val()
    })

   // alert(id)


    $.ajax({
      url: url,
      method: "POST",
      data: {
        id,
        size,
        duration,
        dur_type,
        csrfmiddlewaretoken: csrf
      },
      success: function(data){

        $("#skit").html(data);

      } 
    })   

})
})







$(document).ready(function(){
  $("#page").change(function () {
    var url = $("#pageForm").attr("data-page-url");
    var page_number = $(this).val();

    $.ajax({
      url: url,
      data: {
        'page_number': page_number,
      },
      success: function (data) {
        
      }
    });

});

})






/*
$(document).ready(function(){
  if (!localStorage.getItem("token")){
    window.location.href = '/';
  }
})
*/

{% comment %} Members PerPage {% endcomment %}


$(document).ready(function(){

$("#per_page").change(function(){
  var value=$(this).val();

  window.location.href="?page=1&per_page="+value

})
})



$(document).ready(function(){

  $(".pagination li").click(function(){
    var pagenumber=this.id
    var perpage=$("#per_page").val()

    window.location.href="?page="+pagenumber+"&per_page="+perpage
  
  })
  })





$(document).ready(function(){

  $("#year_range").change(function(){
    var year_range=$(this).val();
  
    window.location.href="?year_range="+year_range
  
  })
  })




$(document).ready(function(){})
$(document).ready(function(){})



</script>

<script>
            

  $(document).ready(function(){
      $("#region").change(function () {
        var url = $("#registrationForm").attr("data-districts-url");
        var region_id = $(this).val();
    
        $.ajax({
          url: url,
          data: {
            'region_id': region_id,
          },
          success: function (data) {
              // alert("Hello")
            $("#district").html(data);
          }
        });
    
      });
    })


    $(document).ready(function(){
      $("#district").change(function () {
        var url = $("#registrationForm").attr("data-const-url");
        var district_id = $(this).val();
        var region_id = $("#region").val();;
        

        $.ajax({
          url: url,
          data: {
            'district_id': district_id,
            'region_id': region_id,
          },
          success: function (data) {
              // alert("Hello")
            $("#constituency").html(data);
          }
        });
        
    
      });
    })



</script>

<script>
  var next_click=document.querySelectorAll(".next_button");
  var main_form=document.querySelectorAll(".main");
  var step_list = document.querySelectorAll(".progress-bar li");
  var num = document.querySelector(".step-number");
  let formnumber=0;


  const togglePassword1 = () => {
      let check = document.getElementById('show_pass')
      let password = document.getElementById('password')
      let show_par = document.getElementById('show_par')
      
      if (check.checked){
          password.setAttribute("type", "text")
          show_par.innerHTML = "Hide Password"
      }
      else{
          password.setAttribute("type", "password")
          show_par.innerHTML = "Show Password"

      }
  }


  const togglePassword2 = () => {
      let check = document.getElementById('show_conf')
      let password = document.getElementById('conf_password')
      let show_car = document.getElementById('show_car')



      if (check.checked){
          password.setAttribute("type", "text")
          show_car.innerHTML = "Hide Password"
      }
      else{
          password.setAttribute("type", "password")
          show_car.innerHTML = "Show Password"
      }
  }


  next_click.forEach(function(next_click_form){
      next_click_form.addEventListener('click',function(){
          if(!validateform()){
              return false
          }
      formnumber++;
      updateform();
      progress_forward();
      contentchange();
      });
  }); 




  var back_click=document.querySelectorAll(".back_button");
  back_click.forEach(function(back_click_form){
      back_click_form.addEventListener('click',function(){
      formnumber--;
      updateform();
      progress_backward();
      contentchange();
      });
  });



  var username=document.querySelector("#user_name");
  var shownname=document.querySelector(".shown_name");
  



  function updateform(){
      main_form.forEach(function(mainform_number){
          mainform_number.classList.remove('active');
      })
      main_form[formnumber].classList.add('active');
  } 
  


  function progress_forward(){
      // step_list.forEach(list => {
          
      //     list.classList.remove('active');
          
      // }); 
      
      
      num.innerHTML = formnumber+1;
      step_list[formnumber].classList.add('active');
  }  



  function progress_backward(){
      var form_num = formnumber+1;
      step_list[form_num].classList.remove('active');
      num.innerHTML = form_num;
  } 
  


  var step_num_content=document.querySelectorAll(".step-number-content");

  function contentchange(){
      step_num_content.forEach(function(content){
          content.classList.remove('active'); 
          content.classList.add('d-none');
      }); 
      step_num_content[formnumber].classList.add('active');
  } 
  
  



  function validateform(){
      validate=true;
      var validate_inputs=document.querySelectorAll(".main.active input");
      validate_inputs.forEach(function(vaildate_input){
          vaildate_input.classList.remove('warning');
          if(vaildate_input.hasAttribute('require')){
              if(vaildate_input.value.length==0){
                  validate=false;
                  vaildate_input.classList.add('warning');
              }
          }
      });
      return validate;
      
  }


</script>

<script>


  $(document).ready(function(){
    $("#client_size").change(function () {
  
      var url = $("#paymentForm").attr("data-client-url");
      var client_id = $("#client_size").val();
  
      $.ajax({
        url: url,
        data: {
          'client_id': client_id,
        },
  
        success: function (data) {
          $("#clet").html(data);
  
        }
      });
  
  });
  })


  
  $(document).ready(function(){
    $("#client_size").change(function () {
  
      var url = $("#paymentForm").attr("data-size-url");
      var client_id = $(this).val();
  
      $.ajax({
        url: url,
        data: {
          'client_id': client_id,
        },
  
        success: function (data) {
          $("#modula").val(data);
  
        }
      });
  
  });
  })


  $(document).ready(function(){
  
      $("#registrationForm").submit(function(event){
  
          event.preventDefault();
  
          $('#submit').prop('disabled', true);
          $('#submit').text('Processing....');
  
          var $form = $(this);
          var serializedData = $form.serialize();
          var size_id = $('#client_sizex').val();
  
          var requiredInputs = $("[required]");
          var emptyFields = [];
          
          requiredInputs.each(function() {
            if ($(this).val() === "") {
              emptyFields.push($(this).attr("name"));
            }
          });
      
  

          $.ajax({
              url: 'https://db-api-v2.akwaabasoftware.com/clients/register',
              
              type: "POST",
              data: serializedData,
              dataType:"json",
            }).done(function(data){
              
              
              var client_id = data.user.id; 
              var pid = data.user.accountId;
              var client_name = `${data.user.firstname} ${data.user.surname}`;
              var url = $("#registrationForm").attr("data-sizes-url");
              var usercode = $('#usercode').val();
              
             
  
              $.ajax({
                  url: url,
                  data: {
                  'client_id': client_id,
                  'client_name': client_name,
                  'size_id': size_id,
                  'usercode': usercode,
                  'pid':pid,
                  },
                  success: function (data) {
  
                      alert("Registration successful.")
                      window.location.href = "https://super.akwaabasoftware.com/client/view-clients/"
                  }
              });
              
  
  
            }).fail(function(data){
              $('#submit').prop('disabled', false);
              $('#submit').text('Submit');
  
              console.log(data.responseJSON)
              if(data.responseJSON.non_field_errors){
                  alert(data.responseJSON.non_field_errors)
              
              }else{
                  
                  alert("Some required fields are still empty.\nPlease make sure you fill the required fields to submit the form")
  
              }
            })

  
           
  
  
      });
  
  });  
  
  


  $(document).ready(function(){

    // Open Popup
    $('[popup-open]').on('click', function() {
       
        var popup_name = $(this).attr('popup-open');
        var subscription_id = $(this).attr('data-id');
        var url = $(this).attr('data-url');
          
        $('#subscription_id').val(subscription_id);

        $.ajax({
          url: url,
          data: {
            'subscription_id': subscription_id,
          },
          success: function (data) {
            $("#desc").html(data);
          }
         
        });

        
        
           
  $('[popup-name="' + popup_name + '"]').fadeIn(300);
    });
  
    // Close Popup
    $('[popup-close]').on('click', function() {
  var popup_name = $(this).attr('popup-close');
  $('[popup-name="' + popup_name + '"]').fadeOut(300);
    });
  
    // Close Popup When Click Outside
    $('.popup').on('click', function() {
  var popup_name = $(this).find('[popup-close]').attr('popup-close');
  $('[popup-name="' + popup_name + '"]').fadeOut(300);
    }).children().click(function() {
  return false;
    });
  
  })


  $(document).ready(function(){

    $('#button').click(function(e){
  
      veriform.submit()
  
           
            });
  
  })


  $(document).ready(function () {
  
    $('#payment_history').DataTable({
      pagingType: 'full_numbers',
      pageLength: 100,
    });
  
  });




$(document).ready(function(){
    $('.pass-delete').on('click', function(e) {

     e.preventDefault()
     
     var $this = $(this)
     var id = $this.attr("id")
     var csrf = $('input[name=csrfmiddlewaretoken]').val()
  
  
     if(confirm("Are you sure you want to delete this subscription?")){
       $.ajax({
         url: $this.attr("href"),
         method: "POST",
         data: {
           id,
           csrfmiddlewaretoken: csrf
         },
         success: function(resp){
           for(var i=0; i<100; i++){
             $('tr#'+id+'').css('background-color', '#ccc');
             $('tr#'+id+'').fadeOut('slow');
           }          
         },
       });
     }
     return false;
    }) 
  })
  
  
















  
  $(document).ready(function(){
    $('#payment_submit').click(function(e){

      $('#payment_submit').prop('disabled', true);
      $('#payment_submit').text('Processing....');

      e.preventDefault()
      var module_ids = [];
      var url = $(this).attr('data-url');
      var client_id = $('#client_size').val();
      
      $(':checkbox:checked').each(function(i){
        module_ids[i]=$(this).val()
      })

      if(module_ids.length == 0){
        alert("Please select a module")
      }

      var membership_size = $('#modula').val();

      var membership_size = $('#modula').val();

      var user = $('#user').val() != "" ? $('#user').val() : "";
      var subscription_id = $('#subscription_id').val() != "" ? $('#subscription_id').val() : "";


      var renewing_days = $('#renewing_days').val();
      var expiring_days = $('#expiring_days').val();
      var remaining_days = $('#remaining_days').val();


      var subscription_fee_usd = $('#subscription_fee_usd').val();
      var subscription_fee_ghs = $('#subscription_fee_ghs').val();


      if(confirm("\tAre you sure you want to proceed to payment?")){

        document.getElementById("loader").style.display = "block";
        document.getElementById("forbid").style.display = "none";

        $.ajax({
          url: url,
          data: {
            "module_ids": module_ids,
            "client_id":client_id,
            "user":user,
            "subscription_id": subscription_id,
            "membership_size": membership_size,
            "duration": duration,
          
            "renewing_days" : renewing_days,
            "expiring_days" : expiring_days,
            "remaining_days" : remaining_days,
            "subscription_fee_usd" : subscription_fee_usd,
            "subscription_fee_ghs" : subscription_fee_ghs,
 
          }
          }).done(function(data){
  

              window.location.href = data;
          
          
            }).fail(function(data){
              $('#payment_submit').prop('disabled', false);
              $('#payment_submit').text('Proceed to payment');
              alert("Something went wrong")
          
              console.log(data)
          
            })
           
           }else{

            return false

           $('#payment_submit').prop('disabled', false);
           $('#payment_submit').text('Proceed to payment');

           }

            });
    
    })
    






  </script>


  
<script>

  
  const resetForm = document.getElementById('resetForm');
  const reset = document.getElementById('reset');
  

  // Listen for form submission
  reset.addEventListener('click', (event) => {
    event.preventDefault()

    var password = document.getElementById("password");
    var confirm_password = document.getElementById("confirm_password");


    if(password.value == confirm_password.value){
      
      resetForm.submit()
    }else{
      alert("Passwords do not match")
    }

  });



</script>

  <script>
    var settings = {};
    new TomSelect('#client_size',settings);
    </script>
    </body>
 
</html>


