{% extends 'client/base.html' %}
 
{% block content %}

{% comment %} <a href="{% url 'superuser:setActivation' %}"><button class="btn btn-sm fee-type" id="module" style="background-color: #f7941d"><p>Set Activation Fees</p></button></a> {% endcomment %}
<br/>
<br/>

<br/>
<!-- Button trigger modal -->
<div class="table-responsive-md">

<table class="table table-striped table-hover" id="">
    <thead>
        <tr>
            <th>Membership Size</th>
            <th>Activation Fee(GHS)</th>
            <th>Agent Fee(GHS)</th>
            <th>Trial Duration(Days)</th>
            <th>Last Updated</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
      {% csrf_token %}

        {% for module in details %}

        <tr id="{{ module.id }}">
            <td>{{ module.membership_size }}</td>
            <td>{{ module.activation_fee }}</td>

            <td>
                {% if module.agent_cost %}
                {% for x,y in module.agent_cost.items %}
                  {% if x == usercode %}
                    {{ y.agent_cost }}
                  {% else %}
                    {{ module.activation_fee }}
                  {% endif %}
                {% endfor %}
              {% else %}
                {{ module.activation_fee }}
              {% endif %}
            </td>
            <td>{{ module.duration }}</td>
            <td>{{ module.date_created }}</td>
            <td><a href="{% url 'client:editActivation' id=module.id %}"><button type="button" class="btn btn-primary btn-sm">Edit</button></a></td>

        </tr>
        {% empty %}
        <h4>No data available in this table</h4>
        {% endfor %}
    </tbody>
</table>

</div>   
{% endblock %}