{% extends 'user/base.html' %}
{% block content %}

<div id="loader"></div>

<div class="form-body" style="" id="forbid">
    <div class="row fee_type">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h2 class="text-center mb-4" >Subscription Renewal</h2>
                    <form class="" action="" method="post" id="paymentForm" name="myFormName" data-item-url="{% url 'client:ajax_load_items' %}" data-size-url="{% url 'client:ajax_load_size' %}"  data-client-url="{% url 'client:ajax_load_time' %}" data-expired-url="{% url 'client:ajax_load_expired' %}" data-amount-url="{% url 'client:ajax_load_amount' %}">


                        {% csrf_token %}


                        <input style="text-align:center;" type="text" class="form-control" name="client_size" id="client_size" value="{{ pid }}" hidden>
                        <input style="text-align:center;" type="text" class="form-control" name="user" id="user" value="client" hidden>
                        <input style="text-align:center;" type="text" class="form-control" name="modula" id="modula" value="{{ modula }}" hidden>
                        <input style="text-align:center;" type="text" class="form-control" name="subscription_id" id="subscription_id" value="{{ subscription.id }}" hidden>
                        <input style="text-align:center;" type="text" class="form-control" name="token" id="token" value="{{ token }}" hidden>


                        <p>Select Module(s)</p>
                     
                          <div id="clet" required>
                            <div class="form-check">
                                <input class="form-check-input " type="checkbox" id="check_all" name="all_modules" value="all" onclick="toggle(this)" >
                                <label>Select all Modules</label>
                            </div>
                        
                            <div class="form-check" required>
                                {% for x, y in modxx.items %}
                        
                                    {% if default == y.module_id %}
                        
                                        {% if database %} 
                                            <input class="form-check-input foo[]" type="checkbox" id="default" name="foo[]" value="{{ y.module_id }}">
                                            <label>{{ x }}</label><br/>
                                        {% else %}
                                            <input class="form-check-input foo[]" type="checkbox" id="default" name="foo[]" value="{{ y.module_id }}" checked="checked" onclick="preventUncheck(this);">
                                            <label>{{ x }}</label><br/> 
                                        {% endif %}
                        
                                    {% else %} 
                                        <input class="form-check-input foo[]" type="checkbox" id="module{{forloop.counter}}" name="foo[]" value="{{ y.module_id }}">
                                        <label>{{ x }}</label><br/>   
                                    {% endif %}
                                {% endfor %}
                            </div> 
                          </div>

                         
                          {% comment %} checked="checked" onclick="preventUncheck(this);" {% endcomment %}

                         <br/>
                         <div class="row">
                            <div class="input-group col mb-3">
                                <label class="input-group-text">Duration Type</label>
                                <select class="form-select" id="dur_type" name="subscription_fee_ghs" onchange="changeDur(this)">
                                    <option value="days">Day(s)</option>
                                    <option value="months" selected>Month(s)</option>
                                </select>
                            </div>


                            <div class="input-group col mb-3" id="day" style="display:none;">
                                <label class="input-group-text">Days</label>
                                <select id="set_duration" name="duration" class="form-select" onchange="changesValue()">
                                    <option value="" selected >Select number of days</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="18">18</option>
                                    <option value="20">20</option> 
                                </select>
                            </div>

                            <div class="input-group col mb-3"  id="month">
                                <label class="input-group-text">Months</label>
                                <input class="form-control" type="number" id="sub_duration" name="duration" placeholder="Enter months here..." oninput="addRen()">
                            </div>
                        </div>

                
                        <div class="row mt-4">
                            <div class="form-group col">
                              <label for="inputCity">Renewing Days</label>
                              <input style="text-align:center;" type="text" class="form-control" name="renewing_days" id="renewing_days" value="0" readonly>
                            </div>
                            <div class="form-group col">
                                <label for="inputCity">Expired Days</label>
                                <input style="text-align:center;" type="text" class="form-control"  name="expiring_days" id="expiring_days" value="0" readonly>
                              </div>
                           
                            <div class="form-group col">
                              <label for="inputZip">Remaining Days</label>
                              <input style="text-align:center;" type="text" class="form-control"  name="remaining_days" id="remaining_days" value="0" readonly>
                            </div>
                          </div>
                          <br>

                        <br/>
                        {% comment %} <br/> {% endcomment %}

                        <div id="skit">
                            <div class="row">
                                <div class="input-group col mb-3">
                                    <label class="input-group-text">Sub. Fee(USD)</label>
                                    <input class="form-control" type="text" id="unit_amount_usd" name="subscription_fee_usd" placeholder="Enter subscription fee(USD)" oninput="getData()" readonly>
                                </div>
                                <div class="input-group col mb-3">
                                    <label class="input-group-text">Sub. Fee(GHS)</label>
                                    <input class="form-control" type="text" id="unit_amount_ghs" name="subscription_fee_ghs" placeholder="Enter subscription fee(GHS)" readonly>
                                </div>
                            </div>
                        </div>

                
               

                        <div class="mt-3 text-center">
                            <a onclick="window.history.go(-1); return false;"><button type="button" class="btn btn-primary btn-sm mr-3" >Back</button></a>

                            <button id="payment_submit" type="button" data-url="{% url 'client:ajax_load_bill' %}" class="btn btn-sm ml-3" style="background-color: #006c40; color: #fff">Proceed to Payment</button>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function preventUncheck(checkbox) {
        if (checkbox.checked == false) {
          checkbox.checked = true;
        }
      }
</script>

{% endblock %}