// .checkx{
//     display: flex;
//     flex-direction: row;
// }

// input:read-only {
//     background-color: #f7941d;
//   }


$media-mobile: "only screen and (max-width : 760px) and (min-width : 320px)";


.chart{
    display: flex; 
    flex-direction: row;
    align-items: center;

    & #container{
        width: 50%; 
        height: 100%;
        border: 1px solid grey;
    }

    & #container2{
        width: 50%; 
        height:200%;
        border: 1px solid grey;
        padding: 12.5% 0;

    }
}


.signature-preview,
.logo-preview{
    width: 300px;
    min-height: 100px;
    border: 2px solid #ddd;
    margin-top: 5%;
    margin-left: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #ccc;


    & .image,
    & .logo-image{
        display: none;
        width: 70%;
        height: 50%;
    }

}



.form-body{
    // margin-top: 5%;
    // margin-top: -1%;

    & .row{

        & .form-holder{

            & .form-content{

                & .form-items{
                 background-color: #F8F0E3;



                 & .text-center{
                    margin-bottom: 2%;
                 }

                    & img{
                        margin-left: 20%;
                        margin-bottom: 8%;
                        border-radius: 50px;
                      
                    }

                    & form{
                        & .input-group{

                            & .input-group-text{
                                background-color: black;
                                color:white;
                            }

                            & .logo{
                                display: none;
                            }

                            & input{
                                background-color: #fff;
                                color:#000;
                            }
                            // background-color: #f7941d;
                            // color: #000;
                        }
                        // & .input-group{
                        //     background-color: #f7941d;
                        //     color: #000;
                        // }
                    }
                }
            }
        }
    }
}



#page-content-wrapper{
    & .navbar{
        & .container-fluid{
            & .collapse{
                & ul{
                    & li{
                        & .dropdown{
                            & button{
                                & span{
                                    font-size: 45px;
                                    // color: white;
                                }
                            }
                            & ul{
                                & li{
                                    & a{
                                        &:hover{
                                            background-color:#f7941d; 
                                        }
                                    }
                                }
                            }
                        }
                       
                    }
                }
            }
        }
    }
}



#root{
    & .container{
        & .row{
            & .c-dashboardInfo{

                & .wrap{
                    width: 100%;
                    & .material-symbols-outlined{
                        font-size: 50px;
                        z-index: -100;
                        color: #f7941d;
                        float: left;
                        margin-top: -20px;
                        margin-bottom: 10%;
                        
                        // color: #f7941d;

                    }

                    & h4{
                        font-size: 20px;
                        margin-top: -4%;
                        font-weight: bold;
                        color: #000;
                        width: 100%;

                        
                    }

                    & .caption-12{
                        font-size: 30px;
                        width: 100%;
                        }
            }
        }
    }
  }
}



.user{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-body{
    & .fee-type{
        margin-top: -50% ;
    }
}

.active{
    color: green;
}

.none{
    color: blue;
}

.expired{
    color: red;
}

.types{
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // align-items: space-between;
    margin-right: 2%;
    margin-top: 1%;

    & .btn-danger{
        // margin: auto;
        margin-left: 10px;
        padding: 7px;
        font-size: 16px;
    }

    & a{
         margin: auto;

        &:hover{
            text-decoration: none;
        }

        & button{
            display: flex;
            flex-direction: row;

            & span{
                font-size: 25px;
                margin-top: 3%;
            }

            & p{
                font-size: 16px;
                margin-bottom: -3%;
                padding:5px 0;
            }
        }

    }
}

.btn{
    & #type{
        margin-top: 100px !important;
        padding: 0;
    }
}

a{
    & .fee-type{
        margin: 10px 0;
        float: right;
        display: flex;
        flex-direction: row;
        padding-bottom: -10px;
        margin-right: 5%;

        & span{
            font-size: 25px;
            margin-top: 3%;
            // margin-right: 1%;
        }
        & p{
            font-size: 16px;
            margin-bottom: -3%;
            padding:5px 0;
        }
    }
}


.border-end{

        background-color: #000;
        color: #fff;
        width: 20%;
        // height: 100vh;

    & .sidebar-heading{
        background-color: #f7941d;

        & img{
            // display: none;
            height: 100%;
            width: 100%;
            margin-left: -10%;
            padding-left: -10%;
        }


    }

    & .list-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: #000;
    

        & a{
           
            margin: auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: start;
            background-color: #000;
            
            & p{
                font-size: 16px;
                margin-bottom: -3%;
                margin-left: 2%;
                color: #fff;
  
            }
           
            & span{
                //  color: #fff;
                color: #fb8c00;
                // margin-top: 2%;
                font-size: 23px;

               
            }

            &:hover {
                background-color: #fb8c00;

                & p,
                & span{
                    color: #000;
                }
               
            }

            &:active {
                background-color: #fb8c00;
                
                & p,
                & span{
                    color: #000;
                }
              }
        }
    }
}


.a_tag{
    &:hover{
        text-decoration: none;
    }
}



//Responsive Dashboard
@media #{$media-mobile} {

    #thank_you{
        // background-color: black;
        width:100%;
        left: 500;
        margin:auto;
        padding-left: -800px;
       

        & center{
            padding: -50%;
            text-align: center;

            & h1{
            text-align: center;
            margin: auto;

            }

            & h6,
            & p{
                letter-spacing: 0px;
                font-size: 15px;
            }
        }
    }


    #wrapper{
        width: 100%;
        display: flex;
        flex-direction: row;

        & #sidebar-wrapper{
            width: 100%;
        }

        & #page-content-wrapper{
            & .navbar{
                padding-bottom: 11%;

                & .container-fluid{
                        & #demo{
                            margin-top: -2%;
                            color:black;
                        }
                }
            }
        }

    }


    .chart{
        display: flex;
        flex-direction: column;
        width: 100%;

        & #container{
            width: 100%;
        }

        & #container2{
            width: 100%;
            height: 100%;
        }
        // background-color: grey;
    }


    .types{
        // display:none;
        font-size: 10px;
        margin-bottom: 5%;
    }
    table{
        & thead{
            font-size:15px;
        }
        & tbody{
            font-size:15px;

            & tr{
                & td{
                    & a{
                        // display:none;
                        font-size: 10px;


                        & button{

                            width: 100%;
                        font-size: 10px;

                        }
                    }
                }

            }
        }
    } 
    
    .form-body{
        width: 100%;

        
        & .row{

            & .form-holder{

                & .form-content{
                    // margin:auto;

                    & .form-items{
                        padding: -200px;
                        margin-left: -500px;
                        // margin:auto;


                        & h1,
                        & h2{
                            font-size: 30px;
                            margin-left: -20%;
                            // margin-bottom: 50%;
                        }

                        & img{
                            width: 150px;
                            height: 150px;
                        }


                       
                        margin-left: 25%;
                        padding: -10%; 
                        left: -10%;
                        // margin-right: 30%;

                        width: 10px !important;
                        // margin-top: -5%;

                        & h2{
                            margin-left: -30%;
                        }

                        & form{

                            & #ixon{
                                display: none;
                            }

                            & #notice{
                                font-size: 15px;
                                width:75%;
                            }

                            & .table-responsive-md{
                                & table{
                                    width:100%;
                                }
                            }

                            & .row{
                                display: flex;
                                flex-direction: column;

                                & .input-group{
                                    width: 50%;
                                    
                                    & .input-group-text{
                                        font-size: 15px;
                                    }
    
    
                                }

                            }
                            
                            & .text-center{
                                margin-left: -30%;
                            }

                            & .logo{
                                display: block;
                                font-size: 10px;
                                margin-bottom: 0%;
                            }

                            & .input-group{
                                width: 50%;
                                
                                & .input-group-text{
                                    font-size: 15px;
                                }

                                & #client_size{
                                    width:200px;
                                }


                            }


                            & .logo-preview,
                            & .signature-preview{
                                margin-left:3%;
                            }

                            

                            & input[type="text"],
                            & input[type="tel"],
                            & input[type="email"],
                            & input[type="password"],
                            & input[type="file"],
                            & input[type="number"],
                            & textarea,
                            & select{
                                width: 75%;
                                margin-right: -50%;
                                
                            }
                        }
                    }

                }

            }
        }
    }

  
    .per_page{
        float: left;
        margin-bottom: 10%;
    }

    .pages{
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;



    }


    .search-bar{
        float: left;
        text-align:center;
        // background-color:black;
        // display:none;

    }

    #for_members{
        margin-left: -10%;
    }
}