<div class="row mt-3">
    <div class="col">
        <div class="input-group">
              <label class="input-group-text">Unit amount(USD)</label>
              <input class="form-control " type="number" id="unit_amount_usd" name="unit_amount_usd" value="{{ usd }}" readonly>
          </div>
     </div>

<div class="col">
  <div class="input-group">
      <label class="input-group-text">Unit amount(GHS)</label>
      <input class="form-control " type="number" id="unit_amount_ghs" name="unit_amount_ghs" value="{{ ghs }}" readonly>
  </div>
</div>


</div>