<div class="row">
    <div class="input-group col mb-3">
        <label class="input-group-text">Sub. Fee(USD)</label>
        <input class="form-control" type="text" id="subscription_fee_usd" name="subscription_fee_usd" value="{{ cost_usd }}" readonly>
    </div>
    <div class="input-group col mb-3">
        <label class="input-group-text">Sub. Fee(GHS)</label>
        <input class="form-control" type="text" id="subscription_fee_ghs" name="subscription_fee_ghs" value="{{ cost_ghs }}" readonly>
    </div>
</div>

