
<div class="form-check">
    <input class="form-check-input " type="checkbox" id="check_all" name="all_modules" value="all" onclick="toggle(this)" >
    <label>Select all Modules</label>
</div>

<div class="form-check" required>
    {% for x in modxx %}

        {% if default == x.id %}

            {% if database %} 
                <input class="form-check-input foo[]" type="checkbox" id="default" name="foo[]" value="{{ x.id }}">
                <label>{{ x.module }}</label><br/>
            {% else %}
                <input class="form-check-input foo[]" type="checkbox" id="default" name="foo[]" value="{{ x.id }}" checked="checked" onclick="preventUncheck(this);">
                <label>{{ x.module }}</label><br/> 
            {% endif %}

        {% else %} 
            <input class="form-check-input foo[]" type="checkbox" id="module{{forloop.counter}}" name="foo[]" value="{{ x.id }}">
            <label>{{ x.module }}</label><br/>   
        {% endif %}
    {% endfor %}
</div> 


<script>
    function preventUncheck(checkbox) {
        if (checkbox.checked == false) {
          checkbox.checked = true;
        }
      }
</script>
