{% extends 'superuser/base.html' %}
 
{% block content %}

<a href="{% url 'superuser:createUnitedOrganization' %}"><button class="btn btn-sm fee-type" id="module" style="background-color: #f7941d"><p>Add Organization</p></button></a>
<br/>
<br/>
<hr/>
<!-- Button trigger modal -->
<div class="table-responsive-md">
    {% csrf_token %}
<table class="table table-striped table-hover" id="email_details">
    <thead>
        <tr>
            <th>Client name</th>
            <th>Added On</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
      

        {% for module in details %}

        <tr id="{{ module.id }}">
           
            <td>{{ module.client_name }}</td>
            <td>{{ module.date_created }}</td>
            <td><a href="{% url 'superuser:deleteUnitedOrganization' id=module.id %}" class="un-delete" id="{{ module.id }}"><button class="btn btn-danger btn-sm">Remove</button></a></td>
            
        </tr>
       
        {% endfor %}
    </tbody>
</table>

</div>   
{% endblock %}